@import url("https://fonts.cdnfonts.com/css/menlo");
@import url("https://fonts.cdnfonts.com/css/eb-garamond-3");
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 100; /* UltraLight */
    src: url("/fonts/Univers Next Pro UltraLight.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 100;
    font-style: italic; /* UltraLight Italic */
    src: url("/fonts/Univers Next Pro UltraLight Italic.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 200; /* Thin */
    src: url("/fonts/UniversNextProThin.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 200;
    font-style: italic; /* Thin Italic */
    src: url("/fonts/UniversNextProThinItalic.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 300; /* Light */
    src: url("/fonts/Univers Next Pro Light.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 300;
    font-style: italic; /* Light Italic */
    src: url("/fonts/Univers Next Pro Light Italic.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 400; /* Regular */
    src: url("/fonts/UniversNextProRegular.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 500; /* Medium */
    src: url("/fonts/Univers Next Pro Medium.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 500;
    font-style: italic; /* Medium Italic */
    src: url("/fonts/Univers Next Pro Medium Italic.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 600; /* Bold */
    src: url("/fonts/UniversNextProBold.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 600;
    font-style: italic; /* Bold Italic */
    src: url("/fonts/UniversNextProBoldItalic.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 700; /* Heavy */
    src: url("/fonts/Univers Next Pro Heavy.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 700;
    font-style: italic; /* Heavy Italic */
    src: url("/fonts/Univers Next Pro Heavy Italic.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 800; /* Black */
    src: url("/fonts/Univers Next Pro Black.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 800;
    font-style: italic; /* Black Italic */
    src: url("/fonts/Univers Next Pro Black Italic.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 900; /* ExtraBlack */
    src: url("/fonts/Univers Next Pro ExtraBlack Extended.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 900;
    font-style: italic; /* ExtraBlack Italic */
    src: url("/fonts/Univers Next Pro ExtraBlack Italic.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 100; /* UltraLight Condensed */
    src: url("/fonts/Univers Next Pro UltraLight Condensed.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 100;
    font-style: italic; /* UltraLight Condensed Italic */
    src: url("/fonts/Univers Next Pro UltraLight Condensed Italic.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 200; /* Thin Condensed */
    src: url("/fonts/Univers Next Pro Thin Condensed.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 200;
    font-style: italic; /* Thin Condensed Italic */
    src: url("/fonts/Univers Next Pro Thin Condensed Italic.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 300; /* Light Condensed */
    src: url("/fonts/UniversNextProLightCond.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 300;
    font-style: italic; /* Light Condensed Italic */
    src: url("/fonts/UniversNextProLightCondIt.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 400; /* Condensed */
    src: url("/fonts/Univers Next Pro Condensed.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 400;
    font-style: italic; /* Condensed Italic */
    src: url("/fonts/UniversNextProCondItalic.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 500; /* Medium Condensed */
    src: url("/fonts/Univers Next Pro Medium Condensed.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 500;
    font-style: italic; /* Medium Condensed Italic */
    src: url("/fonts/Univers Next Pro Medium Condensed Italic.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 600; /* Bold Condensed */
    src: url("/fonts/UniversNextProBoldCond.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 600;
    font-style: italic; /* Bold Condensed Italic */
    src: url("/fonts/UniversNextProBoldCondIt.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 700; /* Heavy Condensed */
    src: url("/fonts/Univers Next Pro Heavy Condensed.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 700;
    font-style: italic; /* Heavy Condensed Italic */
    src: url("/fonts/Univers Next Pro Heavy Condensed Italic.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 700; /* Heavy Condensed 2 */
    src: url("/fonts/Univers Next Pro Heavy Condensed 2.ttf");
}

@font-face {
    font-family: "Univers Next Pro";
    font-weight: 700;
    font-style: italic; /* Heavy Condensed Italic 2 */
    src: url("/fonts/Univers Next Pro Heavy Condensed Italic 2.ttf");
}

@font-face {
    font-family: "google-sans";
    font-weight: bold;
    src: url("/fonts/google-sans/GoogleSans-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "google-sans";
    font-weight: normal;
    src: url("/fonts/google-sans/GoogleSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "google-sans";
    font-weight: 500;
    src: url("/fonts/google-sans/GoogleSans-Medium.ttf") format("truetype");
}

:root {
    font-family: "Overpass";
    /* font-family: "Univers Next Pro"; */
    font-weight: 500;
    /* font-stretch: 95%;
    font-size: 1rem;
    text-rendering: optimizeLegibility; */
    --primary-blue: #2d6cdf;
}

.g-sans {
    font-family: "google-sans";
}

* {
    margin: 0;
    padding: 0;
}
